@model IEnumerable<PhoneApplication.Models.Phone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer.ManufacturerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MSRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScreenSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReleased)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MSRP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScreenSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReleased)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PhoneID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PhoneID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PhoneID })
        </td>
    </tr>
}

</table>
